<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		{% if shortcut.title %}
			<title>{{ shortcut.title }}</title>
		{% else %}
			<title>redirecting to {{ shortcut.redirect_to }}</title>
		{% endif %}
		<meta http-equiv="refresh" content="{{ shortcut.interval }};URL={{ shortcut.redirect_to }}">
	</head>
	<body>
		<p><a href="{{ shortcut.redirect_to }}">Click here</a> if this page does not refresh after {{ shortcut.interval }} seconds.</p>
		{% if shortcut.analytics %}
			{{ shortcut.analytics|safe }}
		{% endif %}
	</body>
</html>