<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{% if shortcut.title %}{{ shortcut.title }}{% endif %}</title>
		<meta http-equiv="refresh" content="{{ shortcut.interval }};URL={{ shortcut.redirect }}">
	</head>
	<body>
		{% if shortcut.is_valid %}
			<p><a href="{{ shortcut.redirect }}">Click here</a> if this page does not refresh after 5 seconds.</p>
			{% if shortcut.analytics %}
				{{ shortcut.analytics }}
			{% endif %}
		{% else %}
			<p><em>{{ shortcut.title }}</em></p>
		{% endif %}
	</body>
</html>